.cci-cards .owl-stage-outer {
    overflow: visible!important;
}
.cci-cards .owl-nav {
    margin-top: 48px !important;
    display: flex;
    gap: 18px;
}

.owl-dots {
    text-align: center !important;
    margin-top: 10px !important;
}

.owl-dot {
    display: inline-block !important;
    width: 30px !important; /* Width of the bar */
    height: 5px !important;  /* Height of the bar */
    background-color: #ccc !important;
    margin: 0 !important;
    transition: background-color 0.3s ease !important;
}

.owl-dot.active {
    background-color: #333 !important; /* Color of the active bar */
}

.owl-dot:hover {
    background-color: #666 !important; /* Color of the bar on hover */
}




/* .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    width:30px;
    height:30px;
}
.owl-carousel .owl-nav .owl-prev{
    background: url('left-icon.png') no-repeat;
}
.owl-carousel .owl-nav .owl-next{
    background: url('right-icon.png') no-repeat;
} */